
video {
	display: block;
	background: #DC3C7A;
  width: 100%;
  height: calc(100vw / 16 * 9);
  margin: auto;
}
@media (min-width: 500px) {
	video {
		height: calc(500px / 16 * 9)
	}
}
.play {
	float: left;
}
.fullscreen {
	float: right;
}
