
video {
	display: block;
	background: #ec3f98;
  width: 100%;
  height: calc(100vw / 16 * 9);
  margin: auto;
}
@media (min-width: 500px) {
	video {
		height: calc(500px / 16 * 9)
	}
}
.play {
	float: left;
}
.fullscreen {
	float: right;
}
h2 span {
	display: block;
	font-size: 12px;
	font-weight: normal;
}
